<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}"/>
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web&display=swap" rel="stylesheet">
    <title>Title</title>
</head>
<body>
    <div id="container">
        <div id="card">
            <h1>National Parks API</h1>
            <hr>
            <h1 id="emoji">🌲 🏞 🌿</h1>
            <p>Visit our GitHub Page for documentation!</p>
            <a href="https://github.com/mkoohang/national-parks-api" target="_blank">DOCUMENTATION</a>
        </div>
    </div>
</body>
</html>